# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Dataset and output folders
dataset/
trained_model/
static/captured_faces/
attendance.csv
